*{
    margin: 0;
    padding: 0;
}
table, th, td{
    border: none;
}

form{
    width: 250px;
    height: 450px;
    margin: 50px auto;
    padding: 20px;
    background:black;

}
table{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

input[type="text"]{
    width: 100%;
    height: 70px;
    padding: 0 3px 0 3px;
    border: 2px solid;
    border-color: floralwhite;
    box-sizing: border-box;
    margin: 30px 0 30px 0;
    text-align: right;
    font-size: 40px;
    color: #000;
    background-color:darkgray;
}
td{
    display: inline;
}


input[type="button"]{
    width: 50px;
    height: 50px;
    float: left;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    margin: 5px;
    font-weight:500;
    background-color: #e0dbdb;
    outline: none;
}


input[type="button"]:active{
    transform: translateY(5px);
}

.redbutton{
    background-color: bisque!important;
    border: none;
}